/* Archives
----------------------------------------------------------------------------- */

/* General Styles
--------------------------------------------- */

/* We need added specificity here to counter WP core styles. */
ul.wp-block-archives {
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0.7rem;
    padding: 0;
}

.wp-block-archives li {
    /* Due to the fact that we cannot style the post count separately */
    color: var(--wp--preset--color--neutral-500);
    list-style: none;
    /* We need added specificity here to counter our main theme list styles. */
    margin: 0 !important;
}

.wp-block-archives a {
    text-decoration: none;
}

.wp-block-archives a:hover {
    /* Due to the fact that we cannot style the post count separately */
    color: var(--wp--preset--color--primary);
    text-decoration: underline;
}

/* Block Style: Horizontal
--------------------------------------------- */
.wp-block-archives.is-style-horizontal {
    flex-direction: row;
}