/* Embed
 ----------------------------------------------------------------------------- */

.wp-block-embed {
    &.is-type-wp-embed {
        background-color: #ffffff;
        border-radius: var(--wp--custom--border-radius--default);
        box-shadow: var(--wp--preset--shadow--small); 

        .wp-block-embed__wrapper {
            line-height: 0;

            iframe {
                clip-path: inset(2px 2px 2px 2px);
                width: 100%;
            }
        }
    }
}