/* Gallery
 ----------------------------------------------------------------------------- */

.wp-block-gallery {
    .blocks-gallery-item:last-child {
        margin-bottom: 0;
    }

    /* Block Style: Caption right/left
     --------------------------------------------- */

    @media (min-width: 1350px) {
        &.is-style-caption-left,
        &.is-style-caption-right {
            position: relative;

            &.alignfull,
            &.alignwide {
                &> figcaption {
                    max-width: unset;
                    padding-left: var(--wp--style--block-gap);
                    padding-right: var(--wp--style--block-gap);
                    position: unset;
                }
            }

            &> figcaption {
                bottom: var(--wp--style--block-gap);
                max-width: clamp(10rem, 10vw, 14rem);
                position: absolute;
                width: 100%;
            }
        }

        &.is-style-caption-right {
            &> figcaption {
                right: calc(-1 * clamp(10rem, 10vw, 14rem) - var(--wp--style--block-gap));
                text-align: left;
            }
        }

        &.is-style-caption-left {
            &> figcaption {
                left: calc(-1 * clamp(10rem, 10vw, 14rem) - var(--wp--style--block-gap));
                text-align: right;
            }
        }
    }
}