/* Group
 ----------------------------------------------------------------------------- */

.wp-block-group {

    /* Block Style: Hover Box
     *
     * This style is not directly accessible in the UI.
     --------------------------------------------- */

    &.is-style-hover-box {
        border-radius: var(--wp--custom--border-radius--default);
        box-shadow: var(--wp--preset--shadow--small);

        // Only show animation on desktop.
        @media (min-width: 600px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        
            &> *:not(.wp-block-buttons):not(.wp-block-read-more) {
                transform: translateY( 1.75rem );
                transition: all 0.2s ease-in-out;
            }
        
            &> .wp-block-buttons,
            &> .wp-block-read-more {
                opacity: 0;
                transition: all 0.2s ease-in-out;
            }
        
            &:hover {
                box-shadow: var(--wp--preset--shadow--medium);

                &> *:not(.wp-block-buttons):not(.wp-block-read-more) {
                    transform: translateY( 0 );
                }

                &> .wp-block-buttons,
                &> .wp-block-read-more {
                    opacity: 1;
                }
            }
        }

        @media (max-width: 599px) {
            padding-top: var(--wp--preset--spacing--x-large) !important;
            padding-bottom: var(--wp--preset--spacing--x-large) !important;
        }
    }
}