/* Image
 ----------------------------------------------------------------------------- */

.wp-block-image {

    /* A custom wrapper element added manually */
    .wp-block-image-container {
        display: inline-block;
    }

    /* Block Style: Caption right/left
     --------------------------------------------- */

    @media (min-width: 1350px) {
        &.is-style-caption-left,
        &.is-style-caption-right {
            position: relative;

            &.alignfull,
            &.alignwide {
                &> figcaption {
                    box-sizing: border-box;
                    max-width: unset;
                    position: unset;
                    text-align: center;
                }
            }

            &> figcaption {
                bottom: var(--wp--style--block-gap);
                max-width: clamp(10rem, 10vw, 14rem);
                position: absolute;
                width: 100%;
            }
        }

        &.is-style-caption-right {
            &> figcaption {
                right: calc(-1 * clamp(10rem, 10vw, 14rem) - var(--wp--style--block-gap));
                text-align: left !important;
            }
        }

        &.is-style-caption-left {
            &> figcaption {
                left: calc(-1 * clamp(10rem, 10vw, 14rem) - var(--wp--style--block-gap));
                text-align: right !important;
            }
        }
    }
}