/* List
 ----------------------------------------------------------------------------- */

.wp-block-list {
    padding-inline-start: var(--wp--preset--spacing--medium);

    li {
        margin-bottom: 0.4rem;
        
        ol, ul {
            margin-top: 0.8rem;
            margin-bottom: 0.8rem;
        }  
    }
}