/* Navigation
 ----------------------------------------------------------------------------- */

.wp-block-navigation {

    // Ensure carrot icons are vertically centered.
    .wp-block-navigation__submenu-icon {
        svg {
            margin-top: 0;
        }
    }

    // Responsive menu container padding.
    // Needed because the theme does not have top/bottom root padding.
    .wp-block-navigation__responsive-container.is-menu-open {
        padding: var(--wp--preset--spacing--medium);
        padding-bottom: calc(2 * var(--wp--preset--spacing--medium));
    }
}