/* Post Comments Form
 ----------------------------------------------------------------------------- */

.wp-block-post-comments-form {
    font-size: var(--wp--preset--font-size--small);

    // Mock blockGap on the comment form.
    .comment-form {
        display: flex;
        flex-direction: column;
        margin-top: var(--wp--preset--spacing--medium);

        &> * {
            margin-block-start: 0;
            margin-block-end: var(--wp--preset--spacing--small);
        }
    
        &> * + * {
            margin-block-start: var(--wp--preset--spacing--small);
            margin-block-end: 0;
        }
    }

    .comment-reply-title {
        font-size: var(--wp--preset--font-size--xx-large);
        margin: 0;

        small {
            display: block;
            font-size: var(--wp--preset--font-size--medium);
            font-weight: 400;
            margin-top: 0.4rem;
        }
    }

    .comment-form-cookies-consent {
        align-items: center;

        label {
            font-size: var(--wp--preset--font-size--small);
        }

        #wp-comment-cookies-consent {
            margin: 0 0.5rem 0 0;
        }
    }

    .form-submit.wp-block-button {
        margin-top: var(--wp--preset--spacing--medium);
    }

    // Need this to override core default styles.
    input:not([type=submit]),
    textarea {
        border: var(--wp--custom--border--default);
        font-size: var(--wp--preset--font-size--small);
    }

    // For when Akismet is active. 
    .akismet_comment_form_privacy_notice {
        font-size: var(--wp--preset--font-size--small);
        margin-top: var(--wp--preset--spacing--medium);
    }
}