/* Post Excerpt
 ----------------------------------------------------------------------------- */

// The Post Excerpt block does not support blockGap, so let's fix that.
.wp-block-post-excerpt { 
    &> * {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    &> * + * {
        margin-block-start: var(--wp--style--block-gap);
        margin-block-end: 0;
    }
}