/* Post Terms
 ----------------------------------------------------------------------------- */

.wp-block-post-terms {

    .wp-block-post-terms__separator {
        color: var(--wp--preset--color--primary-light);
        margin-right: 0.2em;
    }

    /* Block Style: Outline
     --------------------------------------------- */
    &.is-style-outline {
        a,
        span:not(.rich-text):not(.wp-block-post-terms__separator) {
            border: var(--wp--custom--border--default);
            border-radius: var(--wp--custom--border-radius--default);
            color: var(--wp--preset--color--primary);
            display: inline-block;
            line-height: var(--wp--custom--typography--line-height--x-small);
            padding: .8em 1.2em;
            text-decoration: none;

            &:hover {
                background-color: var(--wp--preset--color--neutral-100);
                border-color: var(--wp--preset--color--neutral-300);
            }
        }

        .wp-block-post-terms__separator {
            margin-left: .3rem;
            margin-right: 0;
        }
    }
}