
/* Query Title
 ----------------------------------------------------------------------------- */

.wp-block-query-title {
    // Custom styling for the title prefix. The prefix class is added manually in functions.php
    .query-title-prefix {
        color: var(--wp--preset--color--primary-light);
        display: block;
        margin-bottom: 1rem;
        font-size: var(--wp--preset--font-size--small);
        text-transform: uppercase;
    }
}
