/* RSS
 ----------------------------------------------------------------------------- */

.wp-block-rss {
    .wp-block-rss__item-author,
    .wp-block-rss__item-publish-date {
        color: var(--wp--preset--color--primary-light);
        display: inline-block;
        font-weight: 500;
        font-family: var(--wp--preset--font-family--primary);
        font-size: var(--wp--preset--font-size--x-small);
        margin-right: 1rem;
        text-transform: uppercase;
    }

    .wp-block-rss__item-excerpt {
        font-size: var(--wp--preset--font-size--small);
        margin-top: 0.25rem;
        margin-bottom: 1rem;
    }
}