/* Separator
 ----------------------------------------------------------------------------- */

.wp-block-separator {

    // This fixes the block style "collapsing" in Row blocks.
    &:not(.is-style-dots):not(.is-style-waves) {
        flex-grow: 1;
        height: 1px;
    }

    /* Block Style: Dots
     --------------------------------------------- */

    &.is-style-dots {
        line-height: 0.25;

        &:before {
            font-size: 2rem;
            letter-spacing: 1rem;
            padding-left: 1rem;
        }
    }

    /* Block Style: Waves
     --------------------------------------------- */

    &.is-style-waves {
        background-color: unset !important;
        border: 0;
        height: 12px !important;
        width: 100% !important;

        &:after {
            background-color: currentColor;
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            -webkit-mask-image: url( '../../images/waves-2px.svg' );
            mask-image: url( '../../images/waves-2px.svg' );
            -webkit-mask-position: center;
            mask-position: center;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
        }
    }
}

// We need the editor wrapper class to override specificity.
.editor-styles-wrapper {
    .wp-block-separator {
        &.is-style-waves {
            background-color: unset !important;
        }
    }
}
