/* Tag Cloud
 ----------------------------------------------------------------------------- */

.wp-block-tag-cloud {
    a {
        font-size: var(--wp--preset--font-size--x-small) !important;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        .tag-link-count {
            color: var(--wp--preset--color--neutral-500);
        }
    }

    /* Block Style: Outline
     -------------------------------------------- */

    &.is-style-outline {
        a {
            border: var(--wp--custom--border--default);
            border-radius: var(--wp--custom--border-radius--default);
            color: var(--wp--preset--color--primary-light);
            display: inline-block;
            font-size: var(--wp--preset--font-size--x-small) !important;
            font-weight: 400;
            letter-spacing: 0;
            line-height: var(--wp--custom--typography--line-height--x-small);
            padding: 0.6em 1.2em;
            text-decoration: none;
            text-transform: none;

            &:hover {
                background-color: var(--wp--preset--color--primary);
                border-color: var(--wp--preset--color--primary);
                color: var(--wp--preset--color--neutral);
            }

            .tag-link-count {
                color: currentColor;
            }
        }
    }
}
