<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0">

    <!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group">

        <!-- wp:post-featured-image {"align":"wide","style":{"spacing":{"margin":{"bottom":"3rem"}}}} /-->

    </div>
    <!-- /wp:group -->

	<!-- wp:post-content {"layout":{"inherit":true}} /-->

    <!-- wp:spacer {"height":"6rem"} -->
    <div style="height:6rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->