<!-- wp:cover {"useFeaturedImage":true,"minHeight":33,"minHeightUnit":"vh","contentPosition":"bottom center","isDark":false,"className":"p-sm mt-0 featured-image","style":{"color":{"duotone":["#004D98","#dbffff"]}}} -->
<div class="wp-block-cover is-light has-custom-content-position is-position-bottom-center p-sm mt-0 featured-image" style="min-height:33vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-50 has-background-dim"></span><div class="wp-block-cover__inner-container">

        <!-- wp:template-part {"slug":"header","tagName":"header"} /-->

        <!-- wp:spacer {"height":"20vh"} -->
        <div style="height:20vh" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->

		<!-- wp:group {"layout":{"inherit":true}} -->
		<div class="wp-block-group">
			<!-- wp:post-title {"textAlign":"center","level":1,"align":"wide","fontSize":"xx-large"} /-->

			<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"bottom":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dspacing\u002d\u002dsmall, 1.25rem)"}}},"layout":{"type":"flex","allowOrientation":false,"justifyContent":"center"}} -->
			<div class="wp-block-group alignwide"
				style="padding-bottom:var(--wp--custom--spacing--small, 1.25rem)">
				<!-- wp:post-date {"textColor":"accent-alt","fontSize":"small"} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
</div></div><!-- /wp:cover -->

<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"overlayColor":"secondary"} -->
<div class="wp-block-cover">
    <span aria-hidden="true" class="wp-block-cover__background has-secondary-background-color has-background-dim"></span>
    <div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size">Hello there</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0">

    <!-- wp:group {"layout":{"contentSize": "720px","wideSize": "960px"},"style":{"spacing":{"blockGap":"3rem","margin":{"top":"4rem","bottom":"3rem"}}}} -->
    <div class="wp-block-group" style="margin-top:4rem;margin-bottom:3rem">

        <!-- wp:group -->
        <div class="wp-block-group">

            <!-- wp:group {"style":{"spacing":{"blockGap":"0.75rem"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
            <div class="wp-block-group">

                <!-- wp:post-terms {"term":"category","fontSize":"x-small","style":{"typography":{"fontWeight":"500","letterSpacing":"1px","textTransform":"uppercase","lineHeight":"1"}}} /-->

                <!-- wp:paragraph {"textColor":"neutral-300","fontSize":"x-small","fontFamily":"source-sans"} -->
                <p class="has-neutral-300-color has-x-small-font-size has-source-sans-font-family">|</p>
                <!-- /wp:paragraph -->

                <!-- wp:post-date {"format":"F j, Y","style":{"typography":{"letterSpacing":"1px","textTransform":"uppercase","fontWeight":"500","lineHeight":"1"}},"textColor":"primary-light","className":"no-flex-shrink","fontSize":"x-small"} /-->

            </div>
            <!-- /wp:group -->

            <!-- wp:post-title {"level":1} /-->

        </div>
        <!-- /wp:group -->

        <!-- wp:post-featured-image {"align":"wide"} /-->

    </div>
    <!-- /wp:group -->

    <!-- wp:post-content {"layout":{"contentSize": "720px","wideSize": "960px"}} /-->

    <!-- wp:group {"style":{"spacing":{"margin":{"top":"3rem"}}},"layout":{"inherit":true}} -->
    <div class="wp-block-group" style="margin-top:3rem">
        <!-- wp:separator {"color":"neutral-300","className":"is-style-wide"} -->
        <hr class="wp-block-separator has-text-color has-background has-neutral-300-background-color has-neutral-300-color is-style-wide"/>
        <!-- /wp:separator -->

        <!-- wp:group {"layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between"}} -->
        <div class="wp-block-group">
            <!-- wp:post-terms {"term":"category","separator":"","className":"is-style-outline","fontSize":"x-small"} /-->
            <!-- wp:post-terms {"term":"post_tag","separator":"   |   ","fontSize":"x-small"} /-->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"style":{"spacing":{"margin":{"top":"4rem","bottom":"4rem"}}},"layout":{"inherit":true}} -->
    <div class="wp-block-group" style="margin-top:4rem;margin-bottom:4rem">
        <!-- wp:post-comments /-->
    </div>
    <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->